<div class="login-page">
    <div class="content">
        <!-- <h1 class="app-name">Sb Admin Material</h1> -->
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="login-form" fxFlex>
            <div class="text-center">
              <h2 class="app-name">Tech Master Force</h2>
            </div>
      
            <div fxFlex fxlayout="row" fxlayout.lt-md="column">
              <div fxFlexFill>
                <mat-form-field class="w-100">
                  <input id="user" name="user" formControlName="user" matInput placeholder="Usuario" />
                </mat-form-field>
              </div>
            </div>
            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
              <div fxFlexFill>
                <mat-form-field class="w-100">
                  <input matInput id="clave" name="clave" formControlName="clave" type="password" placeholder="Password" />
                </mat-form-field>
              </div>
            </div>
            <div fxFlex fxLayout="row" fxLayout.lt-md="column" style="margin: 20px 0 30px 0">
              <div fxFlex>
                <mat-checkbox color="primary">Recordarme</mat-checkbox>
              </div>
              <div fxFlex fxLayoutAlign="end">
                <a href="" [routerLinkActive]="'active'" [routerLink]="['/register']" >Registrarme</a>
              </div>
            </div>
            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
              <div fxFlexFill>
                <button mat-raised-button color="primary" class="w-100" type="submit">Iniciar Sesion</button>
              </div>
            </div>
          </form>
    </div>
</div>