
<div class="text-center">
  <h2 class="app-name">Registro de Clientes</h2>
</div>


<form [formGroup]="loginForm" (ngSubmit)="RegistrarCliente()" class="login-form" fxFlex>
  <div class="text-center" style="margin-top: 50px;">
      
    </div>


    <div fxFlexFill style="text-align:center;">
      <mat-form-field style="margin-left: 55px; width: 500px;">
        <input matInput id="nombre1" name="nombre1" formControlName="nombre1" type="text" placeholder="Primer Nombre" />
      </mat-form-field>
      <mat-form-field style="margin-left: 55px; width: 500px;">
        <input matInput id="nombre2" name="nombre2" formControlName="nombre2" type="text" placeholder="Segundo Nombre" />
      </mat-form-field>
    </div>

    <div fxFlexFill style="text-align:center;">
      <mat-form-field style="margin-left: 55px; width: 500px;">
        <input matInput id="apellido1" name="apellido1" formControlName="apellido1" type="text" placeholder="Primer Apellido" />
      </mat-form-field>
      <mat-form-field style="margin-left: 55px; width: 500px;">
        <input matInput id="apellido2" name="apellido2" formControlName="apellido2" type="text" placeholder="Segundo Apellido" />
      </mat-form-field>
    </div>

    <div fxFlexFill style="text-align:center;">
      <mat-form-field style="margin-left: 55px; width: 500px;">
        <input matInput id="direccion" name="direccion" formControlName="direccion" type="text" placeholder="Direccion" />
      </mat-form-field>
      <mat-form-field style="margin-left: 55px; width: 500px;">
        <input matInput id="correo" name="correo" formControlName="correo" type="text" placeholder="Correo Electronico" />
      </mat-form-field>
    </div>


    
    <div fxFlexFill style="text-align:center;">
      <mat-form-field style="margin-left: 55px; width: 500px;">
        <input matInput id="extension" name="extension" formControlName="extension" type="text" placeholder="+502" />
      </mat-form-field>
      <mat-form-field style="margin-left: 55px; width: 500px;">
        <input matInput id="numero" name="numero" formControlName="numero" type="number" placeholder="Numero Telefonico" />
      </mat-form-field>
    </div>


      <div fxFlexFill style="text-align:center;">
        <mat-form-field  style="margin-left: 55px; width: 500px;">
          <mat-label>Servicio a Contratar</mat-label>
          <mat-select (selectionChange)="changeCliente($event.value)" [(value)]="selectedValueTipoDisp" name="val">
            <mat-option *ngFor="let val of valueTipoDisp" [value]="val.Id">
              {{val.Servicio}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field style="margin-left: 55px; width: 500px;">
          <input matInput id="velocidad" name="velocidad" formControlName="velocidad" type="text" placeholder="Velocidad" />
        </mat-form-field>

      </div>
    
     

      <div fxFlexFill style="text-align:center;">
        <mat-form-field style="margin-left: 55px; width: 500px;">
          <input matInput id="precio" name="precio" formControlName="precio" type="text" placeholder="Precio a Cancelar" />
        </mat-form-field>
        <mat-form-field style="margin-left: 55px; width: 500px;">
          <input matInput id="descrip_client" name="descrip_client" formControlName="descrip_client" type="text" placeholder="Descripcion Cliente" />
        </mat-form-field>
        
      </div>

      <div fxFlexFill style="text-align:center;">
        <div fxFlexFill>
          <button style="margin-left: 55px; width: 600px;" mat-raised-button color="primary" class="w-100" type="submit">{{UpdOrIns}} Cliente</button>
          
        </div>
      </div>
</form>
<button (click)='cancel()' [disabled]="isDisable" style="margin-top: 10px; margin-left: 545px; width: 600px;" mat-raised-button color="warn" class="w-100" >Cancelar Actualizacion</button>