<div class="text-center">
    <h2 class="app-name">Registro de Pagos</h2>
  </div>

  

      <table style="margin: 0 auto; width: 1500px;;" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> Id. </th>
              <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
          </ng-container>
          <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Nombre del Cliente </th>
              <td mat-cell *matCellDef="let element"> {{element.Nombre}} </td>
          </ng-container>
          <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef> Servicio </th>
              <td mat-cell *matCellDef="let element"> {{element.Servicio}} </td>
          </ng-container>
          <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef> Total Cancelado </th>
              <td mat-cell *matCellDef="let element">Q. {{element.Cancelado}} </td>
          </ng-container>
          <ng-container matColumnDef="IP">
              <th mat-header-cell *matHeaderCellDef> Fecha del Pago </th>
              <td mat-cell *matCellDef="let element"> {{element.Fecha}} </td>
          </ng-container>
          <ng-container matColumnDef="Eliminar">
            <th mat-header-cell *matHeaderCellDef> Eliminar Pago </th>
            <td mat-cell *matCellDef="let element"><a (click)="Eliminar(element.Id_Pago)" ><i class="material-icons">
                delete_outline
                </i></a>   </td>
        </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  



<form [formGroup]="loginForm" (ngSubmit)="RegistrarPago()" class="login-form" fxFlex>
    <div class="text-center" style="margin-top: 50px;">
        <h2 class="app-name">Ingresar Pagos</h2>
      </div>

      

     
        <div fxFlexFill style="text-align:center;">
          <mat-form-field  style="margin-left: 55px; width: 600px;">
            <mat-label>Clientes</mat-label>
            <mat-select (selectionChange)="changeCliente($event.value)" [(value)]="selectedValue" name="val">
              <mat-option *ngFor="let val of valuePicker" [value]="val.Id">
                {{val.Nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field  style="margin-left: 55px; width: 600px;">
            <mat-label>Mes a Cancelar</mat-label>
            <mat-select (selectionChange)="changeMes($event.value)"  name="valMes">
              <mat-option *ngFor="let valMes of dataSourceMes" [value]="valMes.Id_Mes">
                {{valMes.Mes}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
      
        
      <div fxFlexFill style="text-align:center;">
        <mat-form-field  style="margin-left: 55px; width: 600px;">
          <input [readonly]="!editable" matInput [matDatepicker]="picker1" placeholder="Fecha Actual" [formControl]="date" id="fecha" name="fecha" formControlName="fecha" (dateInput)="inputEvent($event)" >
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field style="margin-left: 55px; width: 600px;">
          <input matInput id="monto" name="monto" formControlName="monto" type="number" placeholder="Monto a Cancelar" />
        </mat-form-field>
      </div>

      <div fxFlexFill style="text-align:center;">
        <div fxFlexFill>
          <button style="margin-left: 55px; width: 600px;" mat-raised-button color="primary" class="w-100" type="submit">Ingresar Pago</button>
        </div>
      </div>
</form>
  