<div class="login-page">
  <div class="content">
    <div [formGroup]="myGroup">
      <label>
        <span>Full name</span>
        <input
          type="text"
          placeholder="Your full name"
          formControlName="name">
      </label>
      <label>
          <span>Email address</span>
          <input
            type="password"
            placeholder="Your passwornd"
            formControlName="password">
        </label>
        <label>
          <span>Confirm address</span>
          <input
            type="password"
            placeholder="Confirm your password"
            formControlName="passwordRepeat">
        </label>
      <button type="submit">Sign up</button>
    </div>
  </div>
</div>